body {
    background: repeat-y top/ cover url("../imgs/cottagecore.jpg");
    width
}
.welcome {
    display: flex;
    border: 2px solid red;
    justify-content: center; /*only works for divs / other containers */
    position: flex;
    font-family: "Verdana", "Arial";
    color: #304772;
    font-style: normal;
    text-shadow:(500px, 500px, magenta); /* not working: needs to make stroke */
}
h1 {
width: 9ch;
font-weight: 300em;
font-size: 3vw;
letter-spacing: 0.1vw;
border: 4px solid green;
}


p { 
    width: 59 ch;
    font weight: 300em;
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    border: 4px solid blue;
}